.trend {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #1c87c9 50%, #113155 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}