.trend {
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #1c87c9 50%, #113155 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circular-loader {
  animation: rotate 2s linear infinite;
  width: 50px;
  height: 50px;
}
.loader-path {
  stroke-dasharray: 150,200;
  stroke-dashoffset: -10;
  stroke: #113155;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
}

@keyframes rotate {
  100% { transform: rotate(360deg); }
}
@keyframes dash {
  0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 100,200; stroke-dashoffset: -15; }
  100% { stroke-dasharray: 100,200; stroke-dashoffset: -120; }
}